body {
  background: #41385C;
  color: white;
  margin: 0;
}

.caja {
  width: 200px;
  border: 1px solid #A8D;
  margin-bottom: 50px;
}

.tipo-a {
  margin: 0 auto;
}

.tipo-b {
  /*no funciona bien con safari*/
  margin-left: calc(100vw / 2 - 100px)
}
.tipo-c {
  text-align: center;
}
.tipo-c .caja {
  display: inline-block;
}